/* CSS declarations go here */
h1 {
	color: #583222;
	font-size: 30px;
}
p {
	color: #583222;
}

.comentarioRow {
	background-color: #ffa94d;
	padding-top: 25px;
	padding-bottom: 25px;
}

.logRow {
	background-color: #ffa94d;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footerRow {
	background-color: #583222;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footerText{
	color: #ffa94d;
}


